@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
    .bx-sh{
        box-shadow: -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001,
        inset 0px 0px 0px 0px #fff9,
        inset 0px 0px 0px 0px #0001;
    }
    .text-dark-coral{
        color: #f08080;
    }
    .text-light-coral{
        color: #e38d8d;
    }
}